
section {

    width: 960px;
    
    display: grid;
    grid-template-columns: 0.6fr 1fr; 
    grid-template-rows: 1fr; 
    grid-template-areas: "."; 
    margin: auto;
    margin-top: 100px;


}

h2 {
    margin-left: 16%;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 500;
    font-size: large;
    line-height: 16px;
    margin-bottom: 10px;
    

}


.boton:hover {
    background-color: #90F5A6;
    text-decoration: none;
}


.boton {
    text-decoration: none;
    padding: 12px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    background-color: #C4C4C4;
    border-radius: 3px;
    margin-top: 200px;

}

form.FormularioRegistrarse {

    display: grid;
    grid-template-columns: 1fr 1fr ; 
    grid-template-rows: 0.7fr 1fr 1fr 1fr 1fr 1.5fr; 
    grid-template-areas: 
    "." "." "." "." "." "."; 
    margin: auto;
    margin-top: auto;

}


.FormularioRegistrarse {

    width: 600px;
    height: 650px;
    margin: auto;
    background: #F4E4E4;
    border-radius: 32px;
    
}




.camposRegistrarse {
    margin-left: 16%;
    width: 200px;
    height: 20px;
    background: #FFFFFF;

}

#botonRegistrarse{
    width: 200px;
    height: 40px;
    background: #FFFFFF;
    margin-left: 60%;
    margin-bottom: 10%;
    border-radius: 44px;    
}


#IconoLogIn {
    
    width: 60px;
    height: 60px;
    margin-left: 90%;
    margin-top: 10px;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    background: linear-gradient(180deg, #E11E1E 0%, rgba(142, 51, 199, 0) 100%);

}


#CuadroBotonesLogReg {
    margin-top: 5%;
    margin-left: 10%;
}


/* 640 to 960 pixels */
@media screen and (max-width: 60em) {
        
    section {

        width: 100%;
        overflow: hidden; 
        
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 0.5fr 2fr; 
        grid-template-areas: 
        "." ".";
        margin-top: 50px;


    }

    h2 {
        
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 500;
        font-size: medium;
        line-height: 16px;
        margin-left: 16%;

    }


    .boton:hover {
        background-color: #90F5A6;
        text-decoration: none;
    }


    .boton {
        text-decoration: none;
        padding: 12px;
        font-weight: 600;
        font-size: 20px;
        color: #000000;
        background-color: #C4C4C4;
        border-radius: 3px;
        margin-top: 200px;

    }

    form.FormularioRegistrarse {

        display: grid;
        grid-template-columns: 1fr 1fr ; 
        grid-template-rows: 0.7fr 1fr 1fr 1fr 1fr 1.5fr; 
        grid-template-areas: 
        "." "." "." "." "." "."; 
        margin: auto;
        margin-bottom: 100px;
    }


    .FormularioRegistrarse {

        width: 590px;
        height: 650px;
        background: #F4E4E4;
        border-radius: 32px;
        
    }




    .camposRegistrarse {
        margin-left: 16%;
        width: 200px;
        height: 20px;
        background: #FFFFFF;

    }

    #botonRegistrarse{
        width: 200px;
        height: 40px;
        background: #FFFFFF;
        margin-left: 60%;
        margin-bottom: 10%;
        border-radius: 44px;    
    }


    #IconoLogIn {
        
        width: 60px;
        height: 60px;
        margin-left: 90%;
        margin-top: 10px;

        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;

        background: linear-gradient(180deg, #E11E1E 0%, rgba(142, 51, 199, 0) 100%);

    }


    #CuadroBotonesLogReg {
        margin: auto;
    }


}

/* under 640 px */
@media screen and (max-width: 40em ) {
    
    section {

        width: 100%;
        overflow: hidden; 
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 0.5fr 2fr; 
        grid-template-areas: 
        "." ".";
        margin-top: 50px;


    }

    h2 {
        
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 500;
        font-size: x-small;
        line-height: 16px;
        margin-left: 16%;

    }


    .boton:hover {
        background-color: #90F5A6;
        text-decoration: none;
    }


    .boton {
        text-decoration: none;
        padding: 12px;
        font-weight: 600;
        font-size: 16px;
        color: #000000;
        background-color: #C4C4C4;
        border-radius: 3px;
        margin-top: 200px;

    }

    form.FormularioRegistrarse {

        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 0.3fr 0.2fr 1fr 1fr 1fr 
        1fr 1fr 1fr 1fr 1fr 1fr 1.5fr; 
        margin: auto;
        margin-bottom: 100px;
    }


    .FormularioRegistrarse {

        width: 270px;
        height: 900px;
        background: #F4E4E4;
        border-radius: 32px;
        
    }

    .camposRegistrarse {
        margin-left: 16%;
        width: 67%;
        height: 20px;
        background: #FFFFFF;

    }

    #botonRegistrarse{
        width: 150px;
        height: 30px;
        background: #FFFFFF;
        margin-left: 22%;
        border-radius: 44px;    
    }


    #IconoLogIn {
        
        width: 60px;
        height: 60px;
        margin-left: 39%;
        margin-top: 10px;

        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;

        background: linear-gradient(180deg, #E11E1E 0%, rgba(142, 51, 199, 0) 100%);

    }


    #CuadroBotonesLogReg {
        margin: auto;
    }


}