ion-header {

    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". anfitrion user"; 
    width: 100%;
    height: 45px;
    margin: auto;
    margin-bottom: 100px;
    background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
}


.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 20px;
    width: max-content;
    left: -90px;
    text-align: center;
    
}
  
.dropdown:hover .dropdown-content {
    display: block;
}


.anfitrion {
    grid-area: anfitrion;
    display: none;
    margin: auto;
    height: 30px;
    width: 150px;
    line-height: 30px;
    background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);   
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFFFF;
    text-align: center;
    margin-right: -35%;
}



.menu {

    color: black;
    text-decoration: none;
    font: 10px; 
    cursor: pointer;
    
    
}






.logo {

    width: 50px;
    height:45px;
    margin-left: 20px;
}

ul {

    background-image: url('/assets/Menu1.png');
    width: 30px;
    height: 30px;
}

.user {
    
    grid-area: user;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."; 
    margin: auto;
    width: 150px;
    height: 30px;
    background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);  
    border-radius: 25px;
    margin-right: 40px;
}

.imagen {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

#fuente2{
    font-size: 16px;
    margin-top: 6px;
    margin-left: 15px;

    color: rgb(255, 255, 255);
}

a {
    cursor: pointer;
    
}


@media screen and (max-width:60em) {
    header {

        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            ". anfitrion user"; 
        width: 100%;
        height: 45px;
        margin: auto;
        margin-bottom: 50px;
        
        background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
    }
    
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        border-radius: 20px;
        width: max-content;
        left: -90px;
        text-align: center;
        
    }
      
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    
    .anfitrion {
        grid-area: anfitrion;
        display: none;
        margin: auto;
        height: 30px;
        line-height: 30px;
        width: 150px;
        background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);   
        border-radius: 25px;
        text-decoration: none;
        text-align: center;
        color: #FFFFFFFF;
        text-align: center;
        margin-right: 10%;
    }
    
    
    
    .menu {
    
        color: black;
        text-decoration: none;
        font: 10px; 
        cursor: pointer;
        
        
    }
    
    .logo {
    
        width: 50px;
        height:45px;
        margin-left: 20px;
    }
    
    ul {
    
        background-image: url('/assets/Menu1.png');
        width: 30px;
        height: 30px;
    }
    
    .user {
        
        grid-area: user;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            ". ."; 
        margin: auto;
        width: 150px;
        height: 30px;
        background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);  
        border-radius: 25px;
        margin-right: 40px;
    }
    
    .imagen {
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }
    
    #fuente2{
        font-size: 16px;
        margin-top: 6px;
        margin-left: 15px;
    
        color: rgb(255, 255, 255);
    }
    
    a {
        cursor: pointer;
        
    }    
}

@media screen and (max-width:40em) {
    header {

        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            ". anfitrion user"; 
        width: 100%;
        height: 45px;
        margin: auto;
        margin-bottom: 50px;
        
        background: linear-gradient(180deg, #303535 83.85%, rgba(48, 53, 53, 0.85) 100%);
    }
    
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        border-radius: 20px;
        width: max-content;
        left: -170px;
        text-align: center;
        
    }
      
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    
    .anfitrion {
        grid-area: anfitrion;
        display: none;
        margin: auto;
        height: 30px;
        font-size:12px;
        width: 80px;
        line-height:30px;
        background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);   
        border-radius: 25px;
        text-decoration: none;
        text-align: center;
        color: #FFFFFFFF;
        text-align: center;
        margin-right: 10%;
    }
    
    
    
    .menu {
    
        color: black;
        text-decoration: none;
        font: 10px; 
        cursor: pointer;
        
        
    }
    
    .logo {
    
        width: 50px;
        height:45px;
        margin-left: 20px;
    }
    
    ul {
    
        background-image: url('/assets/Menu1.png');
        width: 30px;
        height: 30px;
    }
    
    .user {
        
        grid-area: user;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            ". ."; 
        margin: auto;
        width: 80px;
        height: 30px;
        background: linear-gradient(180deg, rgba(225, 30, 30, 0.8) 0%, rgba(142, 51, 199, 0.83) 100%);  
        border-radius: 25px;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .imagen {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    
    #fuente2{
        font-size: 16px;
        margin-top: 6px;
        margin-left: 15px;
    
        color: rgb(255, 255, 255);
    }
    
    a {
        cursor: pointer;
        
    }       
}
