<ion-content>
<div class = MJ>

  <app-menu></app-menu>
  
  <!--Imagen 1-->

  <img class = Imagen1MJ src = "assets/misAlojamientos.png" alt = "">

  <!--Titulo 1-->
  <p class = Titulo1MJ>Mis Reservas</p>



  <!--Apartamentos-->
  <section class= ApartamentosMJ>
      
      <div class= CuadroApartAB *ngFor="let alojamiento of misReservas">
          <div class= CuadroApartMJ>

              <img class= FotoCuadroApartMJ src="{{alojamiento.imagenes.imagen}}" alt="">
              
              <div class = recuadroDatosMJ>

                  <p class= NombreApartMJ> {{alojamiento.informacionGeneral.titulo}} </p>

                  <p class= DirApartMJ> {{alojamiento.direccion.ciudad}} </p>

                  <div class= derechaPrecioMJ>

                      <p class= PrecioApartMJ> {{alojamiento.alquiler.precio}} €</p>

                  </div>

              </div>
              <div class = botones>
                  <input class = boton1MJ type = button value = Cancelar (click)="eliminar(alojamiento.id)">
              </div>
          
          </div>
      </div>

  </section>
  
</div>
</ion-content>

