


<ion-footer>     
    <a class = "fuente" style="float: left; color: white;">&nbsp;&nbsp; 2022 Canary Dreams, Inc. · 
        <a style="color: white; text-decoration: none" [routerLink]="['/privacidad']">Privacidad</a> 
        · <a [routerLink]="['/condiciones']" style= "color: white; text-decoration: none;" [routerLink]="">Condiciones</a></a>
    <!--Privacidad · Condiciones</div>-->
    <div id="redesSociales style ="> 
        <a id = "LogoFacebook" href="https://es-es.facebook.com/"> 
            <img class="img_redes" src="./assets/face.png"> 
        </a>

        <a id = "LogoTwitter" href="https://twitter.com/?lang=es">    
            <img class="img_redes" src="./assets/twitter.png">
        </a>

        <a id = "LogoInsta" href="https://twitter.com/?lang=es">    
            <img class="img_redes" src="./assets/insta.png">
        </a>
    </div>
</ion-footer>
