ion-footer {
    position: fixed;
    left:0;
    bottom:0;
    height: 30px;
    width:100%;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 6.77%, rgba(48, 53, 53, 0.94) 31.25%);

    font-weight: 500;
    font-size: 14px;
    line-height: 1em;
    text-align: right;
    color: #FFFFFF;
    
}

.fuente {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}

#LogoFacebook{
    position: absolute; 
    right: 17%; 
    bottom: -1px;
}

#LogoTwitter{
    position: absolute;
    right: 10%;
    bottom: -1px;
}

#LogoInsta{
    position: absolute;
    right: 3%;
    bottom: -1px;
}

.img_redes{
    width:20px;
    height:20px;
}

@media screen and (max-width: 60em){
    .footer {
        position: fixed;
        left:0;
        bottom:0;
        height: 30px;
        width:100%;
        
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 30.77%, rgba(48, 53, 53, 0.94) 51.25%);
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1em;
        text-align: right;
        color: #FFFFFF;
        
    }
    
    .fuente {
        font-weight: 500;
        font-size: 9.5px;
        line-height: 35px;
        text-align: center;
    }

    
    #LogoFacebook{
        position: absolute; 
        right: 17%; 
        bottom: -1px;
    }

    #LogoTwitter{
        position: absolute;
        right: 10%;
        bottom: -1px;
    }

    #LogoInsta{
        position: absolute;
        right: 3%;
        bottom: -1px;
    }

    .img_redes{
        width:13px;
        height:13px;
    }

}

@media screen and (max-width: 40em){
    .footer {
        position: fixed;
        left:0;
        bottom:0;
        height: 20px;
        width:100%;
        
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 6.77%, rgba(48, 53, 53, 0.94) 31.25%);
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1em;
        text-align: right;
        color: #FFFFFF;
        
    }
    
    .fuente {
        font-weight: 500;
        font-size: 8px;
        line-height: 40px;
        text-align: center;
        margin-left: 8px;
    }

    
    #LogoFacebook{
        position: absolute; 
        right: 17%; 
        bottom: -2px;
    }

    #LogoTwitter{
        position: absolute;
        right: 10%;
        bottom: -2px;
    }

    #LogoInsta{
        position: absolute;
        right: 3%;
        bottom: -2px;
    }

    .img_redes{
        width:22px;
        height:15px;
        margin-left: -8px;
    }

}