


<ion-footer>     
    <a class = "fuente" style="float: left; color: white;">2022 Canary Dreams, Inc. · 
        <a style="color: white; text-decoration: none" [routerLink]="['/privacidad']">Privacidad</a> 
        · <a [routerLink]="['/condiciones']" style= "color: white; text-decoration: none;" [routerLink]="">Condiciones</a></a>
    <!--Privacidad · Condiciones</div>-->
    <div id="redesSociales style ="> 
        <div id = "LogoFacebook"> 
            <img class="img_redes" src="./assets/face.png" href="https://es-es.facebook.com/"> </div>

        <div id = "LogoTwitter">    
            <img class="img_redes" src="./assets/twitter.png" href="https://twitter.com/?lang=es">
        </div>

        <div id = "LogoInsta">    
            <img class="img_redes" src="./assets/insta.png" href="https://twitter.com/?lang=es">
        </div>
    </div>
</ion-footer>
