<ion-content>
    
    <!--Buscador-->

    <section class= BuscadorAB> 
        <form [formGroup]="buscador" class="TextoBuscadorAB">
             &nbsp; Buscando : 
            <input type="text" class="inputBuscador" formControlName="buscar" (change)="buscar($event)"> 
        </form>
        
        
    </section>

    <!--Apartamentos-->
    <section class= ApartamentosAB>

        <a [routerLink]="['/alojamiento/',  alojamiento.id]" href = "" class= CuadroApartAB *ngFor="let alojamiento of alojamientos">

            <img class= FotoCuadroApartAB src="{{alojamiento.imagenes.imagen}}" alt="">
            
            <div class = recuadroDatosAB>

                <div class= FondoValApartAB>

                    <p class= ValApartAB> {{alojamiento.valoracion}} </p>

                </div>

                <p class= NombreApartAB> &nbsp; {{alojamiento.informacionGeneral.titulo}} </p>

                <p class= DirApartAB> &nbsp; {{alojamiento.direccion.direccion}} </p>

                <div class= derechaPrecioAB>

                    <p class= PrecioApartAB> &nbsp; {{alojamiento.alquiler.precio}}€ </p>
                    <p class= DesdeApartAB>  </p>
                </div>

            </div>

        </a>
                
    </section>

      
</ion-content>