
@media screen and (min-width: 60em) {
    section {
        overflow: hidden;

        width: 960px;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        grid-template-areas: "."; 
        margin: auto;
        margin-top: 100px;

    }

    h2 {

        margin-left: 16%;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 500;
        font-size: large;
        line-height: 16px;

        margin-bottom: 10px;
        margin-top: -50px;
    }

    .boton:hover {
        background-color: #90F5A6;
        text-decoration: none;
    }

    .boton {
        text-decoration: none;
        padding: 12px;
        font-weight: 600px;
        font-size: 20px;
        color: #000000;
        background-color: #C4C4C4;
        border-radius: 3px;

        margin-top: 200px;
    }

    form.LogIn {

        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
        "." "." "." "."; 
        margin-top: auto;
        margin: 0 auto;
    }

    .LogIn {

        width: 430px;
        height: 440px;
        background: #F4E4E4;
        border-radius: 32px;

    }

    .camposLogIn {
        
        margin-left: 16%;
        width: 280px;
        height: 20px;
        background: #FFFFFF;

    }

    #BotonLogIn {

        width: 200px;
        height: 40px;
        background: #FFFFFF;
        margin-left: 25%;
        border-radius: 44px;
        margin-bottom: 10%;

    }

    #IconoLogIn {
        
        width: 60px;
        height: 60px;
        margin-left: 45%;
        margin-top: 10px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;

        background: linear-gradient(180deg, #E11E1E 0%, rgba(142, 51, 199, 0) 100%);

    }

    #CuadroBotonesLogReg {
        margin-top: 5%;
        margin-left: 25%;
    }
}

@media screen and (max-width: 60em) {
    

    section {

        width: 100%;
        overflow: hidden; 
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 0.5fr 2fr; 
        margin-top: 50px;
        grid-template-areas: 
        "botones" "formulario";
    }
    
    
    h2 {
    
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 500;
        font-size: medium;
        line-height: 16px;
        margin-left: 16%;
    
    }
    
    form.LogIn {

        grid-area: formulario;
        display: grid;
        grid-template-columns: 1fr ; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        margin: 0 auto;
        margin-top: auto;
        
    }
    
    .LogIn {
        width: 430px;
        height: 440px;
        background: #F4E4E4;
        border-radius: 32px;
    
    }
    
    
    #CuadroBotonesLogReg {

        margin: auto;
    }
    
    
    
    .boton:hover {
        background-color: #90F5A6;
        text-decoration: none;
    }
    
    
    .boton {
        text-decoration: none;
        padding: 12px;
        font-weight: 600;
        font-size: 20px;
        color: #000000;
        background-color: #C4C4C4;
        border-radius: 3px;
        margin-top: 200px;
    }
    
    .camposLogIn {
    
        margin-left: 16%;
        width: 280px;
        height: 20px;
        background: #FFFFFF;
    
    }
    
    
    #BotonLogIn {
    
        width: 200px;
        height: 40px;
        background: #FFFFFF;
        margin-left: 25%;
        margin-bottom: 10%;
        border-radius: 44px;
    
    }
    
    
    #IconoLogIn {
        
        width: 60px;
        height: 60px;
        margin-left: 43%;
        margin-top: 10px;
    
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    
        background: linear-gradient(180deg, #E11E1E 0%, rgba(142, 51, 199, 0) 100%);
    }


}

/* under 640 px */
@media screen and (max-width: 40em ) {
    

    section {

        width: 100%;
        overflow: hidden; 
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 0.5fr 2fr;
        grid-template-areas: 
        "botones" "formulario";
        margin-top: 50px;
        
    }
    
    
    h2 {
    
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 500;
        font-size: medium;
        line-height: 16px;
        margin-left: 16%;
    
    }
    
    form.LogIn {

        grid-area: formulario;
        display: grid;
        grid-template-columns: 1fr ; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        margin: 0 auto;
        margin-top: auto;
        
    }
    
    .LogIn {
    
        width: 270px;
        height: 410px;
        background: #F4E4E4;
        border-radius: 32px;
    
    }
    
    
    #CuadroBotonesLogReg {
        
        margin: auto;
    }
    
    
    
    .boton:hover {
        background-color: #90F5A6;
        text-decoration: none;
    }
    
    
    .boton {
        text-decoration: none;
        padding: 12px;
        font-weight: 600;
        font-size: 16px;
        color: #000000;
        background-color: #C4C4C4;
        border-radius: 3px;
        margin-top: 200px;
    }
    
    .camposLogIn {
    
        margin-left: 16%;
        width: 180px;
        height: 20px;
        background: #FFFFFF;
    
    }
    
    
    #BotonLogIn {
    
        width: 150px;
        height: 30px;
        background: #FFFFFF;
        margin-left: 23%;
        margin-bottom: 10%;
        border-radius: 44px;
    
    }
    
    
    #IconoLogIn {
        
        width: 60px;
        height: 60px;
        margin-left: 40%;
        margin-top: 10px;
    
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    
        background: linear-gradient(180deg, #E11E1E 0%, rgba(142, 51, 199, 0) 100%);
    }
    

}