<ion-content>
<section class = contenedor>
    <div id = CuadroBotonesLogReg>

        <a href="/login" class="boton">Iniciar Sesión</a> 
        <a href="/register" class="boton">Registrarse</a>
        
    </div>

    <div>
        <form class = "LogIn" [formGroup]="registerForm" (ngSubmit)="onLogin()">

            <img src="assets/Count.png" alt="" id="IconoLogIn">                
            
            
            <div class="form-group">
                <h2>EMAIL:</h2>
                <input type="text" required class = camposLogIn placeholder="canary@dreams.es" formControlName = "email">
            </div>
            
            <div class="form-group">
                <h2>CONTRASEÑA:</h2>
                <input type="password" required class = camposLogIn placeholder="********" formControlName = "password">
            </div>   

            
            <input type="submit" id = BotonLogIn value = "Iniciar Sesión">
            
        </form>
    </div>     

</section>
</ion-content>